<title>"Hello, friend - I love you"</title>

	<html>
	
	<head>
		<title>SHIT-DOCK-OO</title>
</div>

<!-- Codes by HTML.am -->
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />

	<audio autoplay>
	<source src="https://www.sounddogs.com/previews/25/mp3/306469_SOUNDDOGS__an.mp3"></source>
	<source src="https://www.sounddogs.com/previews/25/mp3/306469_SOUNDDOGS__an.mp3"></source>
	Your browser isn't invited for super fun audio time.
</audio autoplay>

		<!-- link to the CSS stylesheet-->
		<link href="/stylesheets/application.css" rel="stylesheet" type
	="text/css">
	</head>
	<body>
		<h1>meow meow meow meow meow meow meow meow meow meow meow </h1>
		<div id="flash">
  		<%= flash[:notice] %>
	</div>
	<div id="suduko">
		<form action="/" method="post">
<form action="/restart" method="get">
			<!-- all boxes, rows and cells -->
		<!-- one div for each row -->
		<% 3.times do |row| %>
		<div class='row'>
					<!-- we want to create a seperate div elements for boxes to
	style them using CSS -->
			<% 3.times do |box| %>
				<div class ="box">
			<!-- each box will have nine cells -->
			<% 3.times do |cell_row| %>
					<div class="cell-row">
					<% 3.times do |cell| %>
					<div class="cell">
                  	<%= partial :cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell} %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
     <button>Check solution</button>
     <button>Restart</button>
  </div>
  </form>
	</div>
</body>
<h1>meow meow meow meow meow meow meow meow meow meow meow </h1>
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
<img style="border:10px solid black;" src="http://bit.ly/1eze8aE" width="225" height="151" />
</html>









